<!DOCTYPE html>
<html lang='en'>
  <head>
  	<title> Reset Password Mail </title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @account.full_name %></br>
      To reset your password please follow this link: <a href="<%= @url %>" style="color: #2E86C1;">Reset My Password</a>
    </p>
  </body>
</html>
