<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      .container {
        text-align: center;
      }

      .content {
        width: 100vh;
        overflow: hidden;
        background-color: #f9f9f9;
        display: inline-block;
      }

      .header {
        height: 20%;
        background-color: #f9f9f9;
        border-bottom: 3px solid #3caa49;
        text-align: center;
        line-height: 10vh;
      }

      .header img {
        width: 60px;
        height: 71px;
        margin-top: 2%;
        display: inline-block;
        vertical-align: middle;
      }

      .main-section {
        height: 60%;
        background-color: #ffffff;
        margin-top: 4.2%;
        margin-bottom: 4.2%;
        margin-left: 10%;
        margin-right: 10%;
       padding: 3%;
      }

      .title {
        color: #3caa49;
        font-size: 16px;
        line-height: 4vh;
        text-align: left;
        font-family: 'Segoe UI', Arial, sans-serif;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .name {
        font-family: 'Segoe UI', Arial, sans-serif;
        font-weight: bolder;
        font-size: 20px;
        text-align: left;
        color: #676767;
        margin-bottom: 20px;
      }
      .subtitle {
        color: #676767;
        font-size: 13px;
        font-family: 'Segoe UI', Arial, sans-serif;
      }

      .footer {
        border-top: 1px solid rgb(222, 214, 214);
        text-align: center;
        line-height: 10vh;
        height: 40%;
      }

      .button-section {
        text-align: center;
        line-height: 15vh;
      }

      .button {
        color: white;
        font-size: 13px;
        padding: 10px 20px;
        border-radius: 8px;
        background: #3caa49;
        font-family: 'Segoe UI', Arial, sans-serif;
        font-weight: 700;
        line-height: 20px;
        cursor: pointer;
        display: inline-block;
      }

      .footer-span {
        color: #676767;
        font-size: 14px;
        font-family: 'Segoe UI', Arial, sans-serif;
        font-weight: 600;
        line-height: 12px;
      }

      .footer-link {
        color: #3caa49;
        font-size: 14px;
        font-family: 'Segoe UI', Arial, sans-serif;
        font-weight: 600;
        text-decoration: underline;
        line-height: 24px;
        margin-left: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="header">
          <img src="<%= attachments['image_.png'].url %>" alt="Description of the image">
        </div>
        <div class="main-section">
          <div class="title_parent" style="height: 15%">
            <div class="title">
              
              <div class="subtitle">Click below to reset your password</div>
            </div>
          </div>

          <div class="button-section">
             <a href= <%= "#{ENV['BASE_URL']}/account_block/deeplinks/forgot_password?token=#{@token}" %>>
              <span class="button">Reset Password</span>
            </a>
          </div>
          <div class="footer">
            <span class="footer-span">Need help?</span>
            <a href= <%= "#{ENV['BASE_URL']}/AddContactusNew" %>>
              <span class="footer-link">Contact our support team.</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
