<p>
  Dear Customer,
</p>
<p>
  Your OTP is <span style="text-decoration: underline; font-weight: bold;"><%= @otp %></span> to create Byezzy account. Please verify your phone number and email address using the one-time password (OTP). Kindly do not share with anyone.  
</p>
<p>
  If you have not requested this change, feel free to contact our support team. 
</p>
<p>
  Welcome Aboard! 
</p>