<!DOCTYPE html>
<html lang='en'>
  <head>
  <title> Welcome to Byezzy </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
  <div style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
    <h1 style="color: #2E86C1; text-align: center;">Welcome to Byezzy!</h1>
    <p>
      Dear Vendor/Seller,
    </p>
    <p>Thank you for joining Byezzy. We’ve registered you successfully with the following details </p>
    <ul>
      <li>Email Id - <%= @account.email %></li>
    </ul>
    <p style="text-align: center; margin: 30px 0;">
     You can change your password using below link
     </br><a href="<%= @reset_password %>" style="color: #2E86C1;text-align: center; ">Reset Password</a>
    </p>
    <p>
      Feel free to explore your dashboard and start listing your items right away. If you have any questions, we're here to support you every step of the way.
    </p>
    <p>
      Visit our homepage: <a href="<%= "#{ENV['FE_URL']}" %>" style="color: #2E86C1;">Byezzy Homepage</a>
    </p>
    <p>
      Happy to have you!
    </p>
    <p>Best regards,</p>
    <p>The Byezzy Team</p>
  </div>
</body>
</html>
