<p>
	Dear Vendor/Seller,
</p>
<p>
	Your OTP is <span style="text-decoration: underline; font-weight: bold;"><%= @otp %></span>.
</p>
<p>
	Please enter the OTP and Click on Verify Email to get Verification Email.
</p>
<p>
	(Note - If you have not opted Verify Email, kindly Register Again)
</p>
<p>
	We request you to treat this as confidential. Kindly don’t share it with anyone. 
</p>
<p>
	And if this wasn’t you, reach out to us at <span style="text-decoration: underline; font-weight: bold;"><a href="mailto:admin@byezzy.com">admin@byezzy.com</a></span>.
</p>