<!DOCTYPE html>
<html lang='en'>
<head>
  <title> Account Verification Successful </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
  <div style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
    <h1 style="color: #2E86C1; text-align: center;">Account Verification Successful</h1>
    <p>
      Dear Vendor,
    </p>
   <p>
     We're pleased to confirm that your account verification process has been successful. Thank you for providing the necessary information. 
  </p>
  <p>
    In case you need further assistance, feel free to reach out to us at <span style="text-decoration: underline; font-weight: bold;"><a href="mailto:admin@byezzy.com">admin@byezzy.com</a></span>
  </p>
  <p>Regards,</p>
  <p>Team Byezzy</p>
</div>
</body>
</html>
