<!DOCTYPE html>
<html lang='en'>
<head>
  <title> Verification of Uploaded Documents </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
  <div style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
    <h1 style="color: #2E86C1; text-align: center;">Verification of Uploaded Documents</h1>
    <p>
      Dear Vendor,
    </p>
   <p>
    This is to inform you that the documents uploaded are being reviewed by our admin team. We shall notify you once it’s done. 
  </p>
  <p>
    Thank you for your patience.
  </p>
  <p>Regards,</p>
  <p>Team Byezzy</p>
</div>
</body>
</html>
