<!DOCTYPE html>
<html lang='en'>
<head>
  <title> Vendor's Document Submitted </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
  <div style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
    <h1 style="color: #2E86C1; text-align: center;">Vendor's Document Submitted</h1>
    <p>
      Dear Team,
    </p>
   <p>
    This is to inform you that a vendor has successfully submitted documents requiring your attention. Please review the documents at the earliest and take appropriate action as per our procedures.
  </p>
  <p>
    Thank you for your attention.
  </p>
  <p>Regards,</p>
  <p>Team Byezzy</p>
</div>
</body>
</html>
