<!DOCTYPE html>
<html lang='en'>
<head>
  <title> Out for Delivery </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
  <div style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
    <h1 style="color: #2E86C1; text-align: center;">Out for Delivery</h1>
    <p>
      Dear Customer,
    </p>
    <p>Your order no. #<%= @order.order_number %> is out for delivery. </p>
    <p>
      The delivery agent will deliver your package between 9 AM TO 9 PM.  
    </p>
    <p>Best regards,</p>
    <p>The Byezzy Team</p>
  </div>
</body>
</html>
