<!DOCTYPE html>
<html lang='en'>
<head>
  <title> Payment Processed </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
  <div style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
    <h1 style="color: #2E86C1; text-align: center;">Payment Processed</h1>
    <p>
      Dear Vendor,
    </p>
    <p>
      We are pleased to inform you that payment has been processed for your recent sales at Byezzy Marketplace. The details are as follows
    </p>
    <p>
    <ul>
      <li>
        Order ID - <%= @order.order_number %>
      </li>
    </ul>
    <p>
      You should receive the payment in your designated account shortly.
    </p>
    <p>
      For further information, feel free to reach out to us. 
    </p>
    <p>Regards,</p>
    <p>Team Byezzy</p>
  </div>
</body>
</html>
