<!DOCTYPE html>
<html lang='en'>
  <head>
  <title> ALERT! Suspicious Login Detected! </title>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
  <div style="max-width: 600px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
    <h1 style="color: #2E86C1; text-align: center;">ALERT! Suspicious Login Detected!</h1>
    <p>
      Dear Customer,
    </p>
    <p>Someone signed-in to your account. </p>
    <ul>
      <li>When -</li>
      <li>Device -</li>
      <li>Location -</li>
    </ul>
    <p style="text-align: center; margin: 30px 0;">
     If it wasn’t you, please reset your password. 
     </br><a href="<%= @reset_password %>" style="color: #2E86C1;text-align: center; ">Reset Password</a>
    </p>
    <p>Best regards,</p>
    <p>The Byezzy Team</p>
  </div>
</body>
</html>
