<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Brand Approval</title>
  </head>
  <body>
    <p>
      Your request brand is now approved by the admin.
    </p>
  </body>
</html>
